<h1 class="text-center">Posts</h1>

<div>
    <form  action="/post/search" method="post">
        <div class="input-group post-search layout-search">
            <select name="country" class="select-country gds-cr gds-countryflag country-dropdown" country-data-region-id="gds-cr-1" data-language="en" aria-describedby="search-addon" aria-label="Search"></select>
            <button type="submit" class="btn btn-outline-primary btn-sm">Search</button>
        </div>
    </form>
</div>

    <% if (currentUser){ %>
        <div class="create-new-post">
            <a href="/post/add" class="btn btn-outline-primary btn-sm">Create New Post</a>
        </div>
    <% } %>

<% posts.forEach(post => { %>

<div class="post-container">

    <div class="line-1">
        <span class="place"><%= post.place %> </span>
        <span class="posted-by">
            &nbsp• Posted by 
            <a href="/profile/<%= post.username %>">@<%= post.username %></a>
            <%= moment(post.createdAt).fromNow() %>
        </span>
    </div>
    <div class="line-2">
        <span><%= post.country + ", " + post.city %></span>
        <span></span>
    </div>
    <div class="line-3">
        <a href="/post/detail/<%= post._id %>" class="title"><%= post.title %></a>
    </div>
    <div class="line-4">
        <span>Last updated <%= moment(post.updatedAt).fromNow() %></span>
    </div>

</div>

<% }) %>
